#root {
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  overflow: hidden; /* Prevent content from overflowing */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Let the body take up the full height of the viewport */
  margin: 0;
}

.stretch {
  width: 100vw; /* Make the content stretch across the screen horizontally */
}
